body{ 
    margin-top: 0px;
}
.navbar {
    text-align: right;
}

.nav-list-item {
   
    list-style-type: none;
    display: inline;
    margin: 0px 2px 2px 2px;
}

.nav-ul {
    margin : 12px 8px 0px 0px; 
}



p a {
    text-decoration: none;
    color: blue;
    font-size: 12px;
    padding-left: 8px;
}

li{
    list-style-type: none;
    display: inline;
}

.nav-list-text {
    text-decoration: none;
    position: relative;
    bottom: 20px;
}

.user-icon {
    border-radius: 50%;
    /* padding: 10px; */
    width: 2rem;
    position: relative;
    bottom: 10px;
}

.dot-menu :hover {
    background-color: #EFF0F0;
    border-radius: 50%;
    
}

.dot-menu {
    background-color: white;
    border : 1px solid white; 
    
    
}
.setup-menu {
    padding: 8px;
    margin-bottom: 5px;
}

.google-image {
    width: 273px;
    padding-top: 5%;
}

.google-image-div, .search {
    text-align: center;
}

.search-box {
    width: 90%;
    border-style: none;
    height: 40px;
    border : none; 
}

/* .search-box :active{

} */

.search {
    border : 1px solid; 
    border-color: lightgray;
    width : 550px; 
    margin: 25px auto 0px auto ; 
    border-radius: 40px;
}

@media (max-width : 600px){
    .search{
        width: 90%
    }
}
.center-div{
    text-align: center;
    margin-top: 30px;
    padding : 2px;
    
}
.search-icon {
    display: inline;
    position: relative;
    top : 5px; 
}

.center-div button {
    padding: 12px 20px;
    margin: 3px 8px;
    background-color: #F8F9FA; 
    border-radius: 6px;
    border: 0.8px transparent; 
}

.center-div button:hover{
    border : 0.1px solid lightgray; 

}

.bottom-info {
    position: fixed;
    bottom:0px; 
    background-color: #F2F2F2;
    width: 100%;
    left:0px;
    color: #70757A;
}

.country-info{
    border-bottom: 0.5px solid lightgray; 
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.bottom-info-text{
    border-bottom: 0.5px solid lightgray; 
    padding-left: 9px;
    padding-top: 1px;
    /* padding-bottom: 15px; */
}

.bottom-info-text li{
    padding : 3px 5px 3px 5px;
}

.inline-ul{
    /* display: inline; */
    padding-left: 20px;
    float: left;
}

.last-ul {
    padding-left: 0px;
    margin-right: 20px;
    text-align: end;
}


@media (max-width : 700px){
    .last-ul {
        clear : left; 
        text-align: start;
        padding-left: 20px;
    }
}